<app-nav></app-nav>

<header class="py-5 bg-image-full" style="background-image: url('assets/x2fS.jpg');">
  <!-- <img class="img-fluid d-block mx-auto" src="http://placehold.it/200x200&text=Logo" alt=""> -->
  <div class="container">
    <div class="row x2fS">
      <div class="col-sm-6 offset-sm-6 align-self-center">
        <h1><p class="text-white text-uppercase font-ksb">производство <br> качественных <br>подвесных кресел</p></h1>
        <h3><p class="text-primary text-uppercase font-ksb">сделано в россии! <br> качество по ценам <br> китая!</p></h3>
        <h6><p class="text-secondary text-uppercase">оставьте заявку и наши специалисты <br> проконсультируют вас бесплатно!</p></h6>
      </div>
    </div>
  </div>
</header>

<!-- advantages section -->
<section class="py-5 bg-info">
  <div class="container">
    <div class="row align-items-center">
      <div class="col text-center">
        <img src="assets/own.png" alt="" class="img-fluid py-3">
        <h4><p class="text-white text-uppercase font-ksb">собственное производство</p></h4>
      </div>
      <div class="col text-center">
        <img src="assets/delivery.png" alt="" class="img-fluid py-3">
        <h4><p class="text-white text-uppercase font-ksb">доставки по россии и снг</p></h4>
      </div>
      <div class="d-lg-none w-100"></div>
      <div class="col text-center">
        <img src="assets/garante.png" alt="" class="img-fluid py-3">
        <h4><p class="text-white text-uppercase font-ksb">гарантия лучшей цены</p></h4>
      </div>
      <div class="col text-center">
        <img src="assets/design.png" alt="" class="img-fluid py-3">
        <h4><p class="text-white text-uppercase font-ksb">индивидуальный дизайн</p></h4>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-start">
      <div class="col">
        <img class="img-fluid" src="assets/section2/background.jpg" alt="">
      </div>
      <div class="col py-5">
        <h2><p class="text-center text-uppercase font-ksb">наша продукция</p></h2>
        <ul class="list-unstyled py-4">
          <li class="media">
            <img class="mr-3 pictogram" src="assets/section2/1.png" alt="">
            <div class="media-body align-self-center">
              Наша компания производит 
              подвесные кресла из 
              искусственного ротанга.
            </div>
          </li>
          <li class="media my-4">
            <img class="mr-3 pictogram" src="assets/section2/2.png" alt="">
            <div class="media-body align-self-center">
              Стойка делается из толстостенной 
              трубы 50 мм. В отличие от китайских 
              кресел, никогда не прогнется, даже 
              под весом двух человек.
            </div>
          </li>
          <li class="media my-4">
            <img class="mr-3 pictogram" src="assets/section2/3.png" alt="">
            <div class="media-body align-self-center">
              Мы самостоятельно производим
              мебель в России, поэтому являемся
              прямыми поставщиками кресел 
              без диких наценок.
            </div>
          </li>
          <li class="media my-4">
            <img class="mr-3 pictogram" src="assets/section2/4.png" alt="">
            <div class="media-body  align-self-center">
              Каждое кресло делается вручную
              нашими мастерами и проходит
              тщательную проверку. На изделие
              предоставляется гарантия.
            </div>
          </li>
        </ul>
        <h4><p class="text-center text-info text-uppercase font-ksr">в регионах россии наши дилеры предложат вам рассрочку платежа до 3 месяцев</p></h4>
      </div>
    </div>
    <div class="row py-5">
      <div class="col text-center">
          <h2><p class="text-uppercase font-ksb">всегда в наличии следующие варианты кресел</p></h2>
      </div>
    </div>
    <div class="row py-5">
      <div class="col">
          <app-lounge
            [imgSrc]="'assets/section2/kaplya.jpg'"
            [title]="'Подвесное кресло со стойкой'"
            [type]="'КАПЛЯ'"
            [corpus]="'МЕТАЛЛ'"
            [price]=16990>
          </app-lounge>
      </div>
      <div class="col">
          <app-lounge
            [imgSrc]="'assets/section2/kaplya.jpg'"
            [title]="'Подвесное кресло со стойкой'"
            [type]="'КАПЛЯ'"
            [corpus]="'МЕТАЛЛ'"
            [price]=16990>
          </app-lounge>
      </div>
      <div class="col">
          <app-lounge
            [imgSrc]="'assets/section2/kaplya.jpg'"
            [title]="'Подвесное кресло со стойкой'"
            [type]="'КАПЛЯ'"
            [corpus]="'МЕТАЛЛ'"
            [price]=16990>
          </app-lounge>
      </div>
      <div class="col">
          <app-lounge
            [imgSrc]="'assets/section2/kaplya.jpg'"
            [title]="'Подвесное кресло со стойкой'"
            [type]="'КАПЛЯ'"
            [corpus]="'МЕТАЛЛ'"
            [price]=16990>
          </app-lounge>
      </div>
    </div>
    <hr>
    <div class="row py-5">
      <div class="col text-center">
          <h2><p class="text-uppercase font-ksb">подвесные кресла с плетением премиум</p></h2>
      </div>
    </div>
  </div>
</section>

<section class="py-5 bg-image-full" style="background-image: url('assets/k5LxoP.jpg');">
  <div class="container">
    <div class="row">
      <div class="col text-center">
          <h2>
            <p class="text-uppercase font-ksb">
              <span class="text-primary">доступные</span>
              <span class="text-white">цвета кресла:</span>
            </p>
          </h2>
          <p class="text-secondary">Всегда в наличии черные, белые, коричневые и бежевые кресла. <br> Любые другие цвета под заказ (Срок изготовления до 10 дней)</p>
      </div>
    </div>
    <div class="row">
      
    </div>
  </div>
</section>
<h1>собственное производство</h1>
<h2>собственное производство</h2>
<h3>собственное производство</h3>
<h4>собственное производство</h4>
<h5>собственное производство</h5>
<h6>собственное производство</h6>