<app-nav (onCallHandler)="openCallForm()"></app-nav>
<header class="py-5 bg-image-full" style="background-image: url('assets/x2fS.jpg');">
  <div class="container">
    <div class="row x2fS">
      <div class="col-5 offset-6 align-self-center">
        <h1>
          <p class="text-white text-uppercase font-ksb fs-5">производство
            <br> качественных
            <br>подвесных кресел</p>
        </h1>
        <h3>
          <p class="text-primary text-uppercase font-ksb fs-3">сделано в россии!
            <br> качество по ценам
            <br> китая!</p>
        </h3>
        <h6 class="d-none d-sm-block mb-4">
          <p class="text-secondary text-uppercase fs-1">оставьте заявку и наши специалисты
            <br> проконсультируют вас бесплатно!
          </p>
        </h6>
        <p>
          <button class="btn btn-primary br-2 py-3 px-5" (click)="openOrderForm(null)">
            <span class="font-ksr" style="font-size:1.5rem">Подобрать кресло</span>
          </button>
        </p>
      </div>
    </div>
  </div>
</header>

<!-- advantages section -->
<section class="py-5 bg-info">
  <div class="container">
    <div class="row">
      <div class="col text-center postition-relative">
        <div class="d-lg-none position-absolute w-100 h-100" style="padding: 15px 15px 15px 0">
          <div class="position-relative bevel-right h-100"></div>
        </div>
        <img src="assets/own.png" alt="" class="img-fluid py-3">
        <h4>
          <p class="text-white text-uppercase font-ksb">собственное
            <br>производство</p>
        </h4>
      </div>
      <div class="col text-center">
        <img src="assets/delivery.png" alt="" class="img-fluid py-3">
        <h4>
          <p class="text-white text-uppercase font-ksb">доставки
            <br>по россии и снг</p>
        </h4>
      </div>
      <div class="d-lg-none w-100"></div>
      <div class="col text-center position-relative">
        <div class="d-lg-none position-absolute w-100 h-100" style="padding: 15px 15px 15px 0">
          <div class="position-relative bevel-right h-100"></div>
        </div>
        <div class="d-lg-none position-relative">
          <div class="position-absolute w-100 bevel-top">
          </div>
        </div>
        <img src="assets/garante.png" alt="" class="img-fluid py-3">
        <h4>
          <p class="text-white text-uppercase font-ksb">гарантия
            <br>лучшей цены</p>
        </h4>
      </div>
      <div class="col text-center">
        <div class="d-lg-none position-relative">
          <div class="position-absolute w-100 bevel-top">
          </div>
        </div>
        <img src="assets/design.png" alt="" class="img-fluid py-3">
        <h4>
          <p class="text-white text-uppercase font-ksb">индивидуальный
            <br>дизайн</p>
        </h4>
      </div>
    </div>
  </div>
</section>

<section class="ledge-container">
  <div id="our-production" class="anchor"></div>
  <div class="container position-relative ledge-row">
    <div class="sub-container"></div>
    <div class="row align-items-start">
      <div class="col d-none d-sm-block">
        <img class="img-fluid px-4" src="assets/section2/background.jpg" alt="">
      </div>
      <div class="col py-5">
        <h2>
          <p class="text-center text-uppercase font-ksb">наша продукция</p>
        </h2>
        <ul class="list-unstyled py-4">
          <li class="media">
            <img class="mr-3 pictogram" src="assets/section2/1.png" alt="">
            <div class="media-body align-self-center font-ht fs-xs-2 fs-md-1">
              Наша компания производит подвесные кресла из искусственного ротанга.
            </div>
          </li>
          <li class="media my-4">
            <img class="mr-3 pictogram" src="assets/section2/2.png" alt="">
            <div class="media-body align-self-center font-ht fs-xs-2 fs-md-1">
              Стойка делается из толстостенной трубы 50 мм. В отличие от китайских кресел, никогда не прогнется, даже под весом двух человек.
            </div>
          </li>
          <li class="media my-4">
            <img class="mr-3 pictogram" src="assets/section2/3.png" alt="">
            <div class="media-body align-self-center font-ht fs-xs-2 fs-md-1">
              Мы самостоятельно производим мебель в России, поэтому являемся прямыми поставщиками кресел без диких наценок.
            </div>
          </li>
          <li class="media my-4">
            <img class="mr-3 pictogram" src="assets/section2/4.png" alt="">
            <div class="media-body  align-self-center font-ht fs-xs-2 fs-md-1">
              Каждое кресло делается вручную нашими мастерами и проходит тщательную проверку. На изделие предоставляется гарантия.
            </div>
          </li>
        </ul>
        <h4>
          <p class="text-center text-info text-uppercase font-ksr">в регионах россии наши дилеры предложат вам рассрочку платежа до 3 месяцев</p>
        </h4>
      </div>
    </div>
    <div class="row py-5">
      <div class="col text-center">
        <h2>
          <p class="text-uppercase font-ksb">всегда в наличии следующие варианты кресел</p>
        </h2>
      </div>
    </div>
    <div class="row py-5">
      <div class="col">
        <app-lounge [imgSrc]="'assets/section2/kaplya.jpg'" [title]="'Подвесное кресло со стойкой (Капля)'" [type]="'капля'" [corpus]="'металл'"
          [price]=16990 (onOrder)="openOrderForm('kaplya')">
        </app-lounge>
      </div>
      <div class="col">
        <app-lounge [imgSrc]="'assets/section2/oval_bez.jpg'" [title]="'Подвесное кресло со стойкой (Овал)'" [type]="'овал'" [corpus]="'металл'"
          [price]=16990 (onOrder)="openOrderForm('oval')">
        </app-lounge>
      </div>
      <div class="d-lg-none w-100"></div>
      <div class="col">
        <app-lounge [imgSrc]="'assets/section2/shar.jpg'" [title]="'Подвесное кресло со стойкой (Шар)'" [type]="'шар'" [corpus]="'металл'"
          [price]=16990 (onOrder)="openOrderForm('shar')">
        </app-lounge>
      </div>
      <div class="col">
        <app-lounge [imgSrc]="'assets/section2/kaplya_w.jpg'" [title]="'Подвесное кресло без стойки (Капля)'" [type]="'капля'" [corpus]="'металл'"
          [price]=9990 (onOrder)="openOrderForm('bstoyki')">
        </app-lounge>
      </div>
      <div class="w-100"></div>
      <div class="col d-flex justify-content-center">
        <app-lounge [imgSrc]="'assets/section2/dvoynoe.jpg'" [title]="'Двухместное кресло'" [corpus]="'металл'" [price]=24990 (onOrder)="openOrderForm('double')">
        </app-lounge>
      </div>
    </div>
    <hr>
    <div class="row pt-5">
      <div class="col text-center">
        <h2>
          <p class="text-uppercase font-ksb">подвесные кресла с плетением премиум</p>
        </h2>
        <p class="font-ht fs-1">Густое плетение, придает креслу еще более шикарный вид.</p>
        <h4>
          <p>
            <span class="font-ksr">Со стойкой</span>
            <strong>19990р.</strong>
            <span class=" font-ksb text-primary" style="font-size: 2rem;">/</span>
            <strong>12990р.</strong>
            <span class="font-ksr">Без стойки</span>
          </p>
        </h4>
      </div>
    </div>
    <hr>
    <div class="row pt-2">
      <div class="col text-center">
        <h2>
          <p class="text-uppercase font-ksb">для сравнения виды плетения</p>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-4 offset-2 py-4 text-right">
        <img src="assets/section2/simple.png" alt="" class="img-fluid">
        <p class="text-center py-3 font-hl">Обычное плетение</p>
      </div>
      <div class="col-4 py-4 text-left">
        <img src="assets/section2/advanced.png" alt="" class="img-fluid">
        <p class="text-center py-3 font-hl">Густое плетение</p>
      </div>
    </div>
  </div>
</section>

<section class="py-5 bg-image-full" style="background-image: url('assets/k5LxoP.jpg');">
  <div class="container ledge-container">
    <div class="row">
      <div class="col text-center pb-4">
        <h2>
          <p class="text-uppercase font-ksb">
            <span class="text-primary">доступные</span>
            <span class="text-white">цвета кресла:</span>
          </p>
        </h2>
        <p class="font-ht fs-1" style="color: white">Всегда в наличии черные, белые, коричневые и бежевые кресла.
          <br> Любые другие цвета под заказ (Срок изготовления до 10 дней)</p>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center">
        <div class="color-block">
          <div class="available-color bg-black"></div>
          <p>черный</p>
        </div>
        <div class="color-block">
          <div class="available-color bg-white"></div>
          <p>белый</p>
        </div>
        <div class="color-block">
          <div class="available-color bg-antiqwhite"></div>
          <p>бежевый</p>
        </div>
        <div class="color-block color-block-brown">
          <div class="available-color bg-brown"></div>
          <p>коричневый</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="py-5 d-none d-sm-block">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2>
          <p class="text-uppercase font-ksb">Двухцветная подушка</p>
        </h2>
        <p>Также мы можем изготовить для Вас двухцветную подушку</p>
      </div>
    </div>
  </div>
  <div class="bg-image-full" style="background-image: url('assets/k5LxoP.jpg');"></div>
</section> -->

<section class="py-5 d-none d-sm-block">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2>
          <p class="text-uppercase font-ksb">доступные цвета подушки:</p>
        </h2>
        <p class="font-ht fs-1">В наличии все цвета. Вы можете выслать фотографию желаемого цвета к нам на
          <a href="mailto:zakaz@pletenev.ru">почту</a>
        </p>
      </div>
    </div>
    <div class="row py-5">
      <div class="col text-center">
        <div>
          <img class="img-fluid" src="assets/section4/pls.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-5 d-none d-sm-block">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2>
          <p class="text-uppercase font-ksb">двухцветная подушка</p>
        </h2>
        <p class="font-ht fs-1">Если Вы не можете определиться с цветом, мы изготовим для Вас двухцветную подушку</p>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row no-paddings">
      <div class="col">
        <img src="assets/section2/twoColors.jpg" alt="" class="img-fluid w-100">
      </div>
    </div>
  </div>
</section>
<section class="py-5 d-none d-sm-block">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2>
          <p class="text-uppercase font-ksb">общие габариты кресла</p>
        </h2>
        <p class="font-ht fs-1"> Ниже представлены стандартные размеры кресла. Мы, являясь производителями, можем изготовить кресла индивидуального
          размера или даже по Вашему эскизу. Позвоните нам прямо сейчас
          <strong>88007002920</strong> Звонок из России бесплатный!</p>
      </div>
    </div>
    <div class="row py-5">
      <div class="col text-center">
        <div>
          <img class="img-fluid" src="assets/section5/gabarits.png" alt="">
        </div>
      </div>
    </div>
    <div class="row py-5">
      <div class="col text-center">
        <p class="font-ht fs-1">Видео о нашем производстве</p>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mx8BCFnF4P0?rel=0&amp;showinfo=0" frameborder="0"
            allow="encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="d-none d-sm-block">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2>
          <p class="text-uppercase font-ksb">сравнение с китаем</p>
        </h2>

      </div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col-lg-9 col-sm-12">
        <p class="text-center font-ht fs-1">Мы специально купили подвесное кресло у конкурентов, чтоб предостеречь Вас от преждевременых покупок.
          <br>Посмотрите видео и Вы поймёте почему экономия в 1000 рублей, не принесет Вам большой радости. </p>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/27ejtPTTkIU?rel=0&amp;showinfo=0" frameborder="0"
            allow="encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="row pt-4">
          <div class="col">
            <img src="assets/section2/compare1.png" alt="" class="img-fluid">
          </div>
          <div class="col">
            <!-- <img src="assets/section2/compare2.png" alt="" class="img-fluid"> -->
            <div class="py-5 text-center">
                <p class="font-ksb text-uppercase" style="font-size:1.2rem; height:50px">слева: другие <br>кресла
                </p>
                <div class="font-ht" style="font-size:1.2rem;">
                  <app-slider>
                    <app-slider-item>
                      Тонкостенная труба загибается от 100 кг
                    </app-slider-item>
                    <app-slider-item>
                        Срок службы два года
                    </app-slider-item>
                    <app-slider-item>
                        Покраска обычной эмалью
                    </app-slider-item>
                    <app-slider-item>
                        "Гаражная" сборка
                    </app-slider-item>
                    <app-slider-item>
                        Плетение из множества коротких нитей, расплетается через месяц
                    </app-slider-item>
                    <app-slider-item>
                        Маленькая подушка
                    </app-slider-item>
                  </app-slider>
                </div>
              </div>
          </div>
          <div class="col">
            <!-- <img src="assets/section2/compare3.png" alt="" class="img-fluid"> -->
            <div class="py-5 text-center">
              <p class="font-ksb text-uppercase" style="font-size:1.2rem;height:50px">справа: кресло
                <span class="text-info">Pletenev</span>
              </p>
              <div class="font-ht" style="font-size:1.2rem;">
                <app-slider>
                  <app-slider-item>
                    Труба со стенкой 3.5 мм выдерживает нагрузку до 200 кг
                  </app-slider-item>
                  <app-slider-item>
                    Любые расцветки
                  </app-slider-item>
                  <app-slider-item>
                    Авторское не расплетающееся плетение
                  </app-slider-item>
                  <app-slider-item>
                    Регулируемые ножки, возможно сделать по индивидуальным размерам
                  </app-slider-item>
                  <app-slider-item>
                    Полимерно-порошковая покраска защитит от коррози и царапин
                  </app-slider-item>
                  <app-slider-item>
                    Большая подушка
                  </app-slider-item>
                </app-slider>
              </div>
            </div>
          </div>
          <div class="col">
            <img src="assets/section2/compare4.png" alt="" class="img-fluid">
          </div>
        </div>
        <div class="row py-5">
          <div id="our-advantages" class="anchor"></div>
          <div class="col-4">
            <div class="pl-5">
              <h4>
                <p class="text-uppercase font-ksb">почему клиенты выбирают наши кресла?</p>
              </h4>
            </div>
          </div>
          <div class="col-8">
            <div class="px-5" style="border-left: 1px dashed rgba(0, 0, 0, 0.1);">
              <h4>
                <p class="text-uppercase font-ksb text-info">все просто</p>
              </h4>
              <p class="text-muted font-ht fs-1">Доставка подвесного кресла из Китая обходится дорого, в связи с этим конструкцию максимально облегчают. Металл
                тонкий, легкий, подушка полупустая. В результате, уже через несколько месяцев стойка кресла сгибается под
                тяжестью человека.
              </p>
            </div>
          </div>
        </div>
        <div class="row py-5">
          <div class="col"></div>
          <div class="col-5">
            <ul class="list-unstyled py-4">
              <li class="media">
                <img class="mr-3 s-pictogram" src="assets/section6/hq.png" alt="">
                <div class="media-body align-self-center">
                  <h5 class="mt-0 text-uppercase font-ksb" style="font-size: 1rem">высокое качество продукции</h5>
                  <span class="font-ht fs-1">Наши кресла выдерживают нагрузку до 150 кг. Стойка делается из толстой стальной трубы диаметром 50мм, и
                    толщиной стенки 4 мм. Такое кресло прослужит Вам долгое время.</span>
                </div>
              </li>
              <li class="media my-4">
                <img class="mr-3 s-pictogram" src="assets/section6/best_price.png" alt="">
                <div class="media-body align-self-center">
                  <h5 class="mt-0 text-uppercase font-ksb" style="font-size: 1rem">лучшие цены от производителя</h5>
                  <span class="font-ht fs-1">Мы гарантируем лучшую цену на рынке, т.к. являемся производителями, что дает вам возможность закупать наши
                    кресла напрямую без посредников</span>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-5">
            <ul class="list-unstyled py-4">
              <li class="media">
                <img class="mr-3 s-pictogram" src="assets/section6/care.png" alt="">
                <div class="media-body align-self-center">
                  <h5 class="mt-0 text-uppercase font-ksb" style="font-size: 1rem">забота о вашем комфорте</h5>
                  <span class="font-ht fs-1">Материалы используемые при создании кресла долговечные и не поддаются пагубному воздействию внешней среды,
                    в результате чего кресло можно использовать как в помещении, так и на улице. Позаботиться необходимо
                    только о подушке. делается для Вашего кофморта она сделана из прятной на ощупь ткани "Габардин", которая
                    может промокнуть в дождливую погоду. В этом случае полушку, необходимо занести в дом.</span>
                </div>
              </li>
            </ul>
          </div>
          <div class="col"></div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</section>

<section class="py-5 bg-image-full d-none d-lg-block" style="background-image: url('assets/iaUpd.jpg');">
  <div class="container">
    <div class="row align-items-center">
      <div class="col text-center">
        <img src="assets/section7/1.png" alt="" class="img-fluid py-3">
      </div>
      <div class="col text-center">
        <img src="assets/section7/2.png" alt="" class="img-fluid py-3">

      </div>
      <div class="col text-center">
        <img src="assets/section7/3.png" alt="" class="img-fluid py-3">

      </div>
      <div class="col text-center">
        <img src="assets/section7/4.png" alt="" class="img-fluid py-3">
      </div>
      <div class="col text-center">
        <img src="assets/section7/5.png" alt="" class="img-fluid py-3">
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col text-center">
        <h4>
          <p class="text-white text-uppercase font-ksb">толщина стенки трубки 4 мм</p>
        </h4>
      </div>
      <div class="col text-center">
        <h4>
          <p class="text-white text-uppercase font-ksb">антикоррозийная обработка</p>
        </h4>
      </div>
      <div class="col text-center">
        <h4>
          <p class="text-white text-uppercase font-ksb">индивидуальная цветовая гамма</p>
        </h4>
      </div>
      <div class="col text-center">
        <h4>
          <p class="text-white text-uppercase font-ksb">гарантия и рассрочка платежа</p>
        </h4>
      </div>
      <div class="col text-center">
        <h4>
          <p class="text-white text-uppercase font-ksb">порошковая окраска</p>
        </h4>
      </div>
    </div>
  </div>
</section>

<section class="position-relative">
  <div class="d-none d-lg-block bg-image-full w-100 h-100 position-absolute" style="background-image: url('assets/section8/background.jpg');"></div>
  <div class="container">
    <div class="row pt-5">
      <div id="how-to-make-order" class="anchor"></div>
      <div class="col-lg-6 offset-lg-6 col-xs-12">
        <h2>
          <p class="pl-5 text-uppercase font-ksb">как сделать заказ?</p>
        </h2>
        <ul class="list-unstyled py-4">
          <li class="media">
            <img class="mr-3" src="assets/section8/1.png" alt="">
            <div class="media-body align-self-center font-hl fs-1" style="color: #464646">
              Вы можете выбрать из наличия или подобрать индивидуальные цвета.
            </div>
          </li>
          <li class="media my-4">
            <img class="mr-3" src="assets/section8/2.png" alt="" style="color: #464646">
            <div class="media-body align-self-center font-hl fs-1">
              Кресло под заказ станет доступно к отправке в течение 5-10 дней.
            </div>
          </li>
          <li class="media my-4">
            <img class="mr-3" src="assets/section8/3.png" alt="" style="color: #464646">
            <div class="media-body align-self-center font-hl fs-1">
              Кресла из наличия отправляются в день заказа (при условии, что заказ сделан до 14.00)
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row py-lg-5">
      <div id="for-dilers" class="anchor"></div>
      <div class="col-lg-6 offset-lg-6 col-xs-12 px-lg-5 pb-5 pl-5">
        <h1>
          <p class="text-uppercase font-ksb">дилерам</p>
        </h1>
        <p class="pr-5 font-ksl fs-1" style="color:#5f5f5f">
          Мы ищем дилеров в городах и регионах России.
          <br> Предоставляем скидки. Также у нас есть интересные
          <br> условия для дизайнеров.
        </p>
        <p class="text-uppercase font-ksb fs-1">
          чтобы узнать подробности оставьте заявку
          <br> и наши специалисты свяжутся с вами
        </p>
        <p>
          <button class="btn btn-primary btn-lg font-ksr" (click)="openDilerForm()">Оставить заявку</button>
        </p>
      </div>
    </div>
  </div>
</section>
<section class="d-none d-lg-block">
  <div class="container-fluid">
    <div class="row no-paddings">
      <div class="col-sm-7">
        <img src="assets/section8/delivery2.png" alt="" class="img-fluid">
      </div>
      <div class="col-sm-5 py-5">
        <h2>
          <p class="pl-5 text-uppercase font-ksb">доставка</p>
        </h2>
        <ul class="list-unstyled py-4">
          <li class="media">
            <img class="mr-3" src="assets/section8/d1.png" alt="">
            <div class="media-body align-self-center font-hl fs-1" style="color: #464646">
              Отправляем транспортной компанией в регионы России. ПЭК, Деловые линии, КИТ, ЖелДорЭкспедиция
            </div>
          </li>
          <li class="media my-4">
            <img class="mr-3" src="assets/section8/d2.png" alt="">
            <div class="media-body align-self-center font-hl fs-1" style="color: #464646">
              Возможна доставка до подъезда или до терминала транспортной компании.
            </div>
          </li>
          <li class="media my-4">
            <img class="mr-3" src="assets/section8/d3.png" alt="">
            <div class="media-body align-self-center font-hl fs-1" style="color: #464646">
              Доставку оплачивает покупатель. Кресла хорошо штабелируются, и отправка 6 кресел, по стоимости примерно равна доставке двух
              кресел.
            </div>
          </li>
          <li class="media my-4">
            <img class="mr-3" src="assets/section8/d4.png" alt="">
            <div class="media-body align-self-center font-hl fs-1" style="color: #464646">
              Объем кресла с разбирающимся коконом 0.8 куб. м. Объем разбирающегося кокона без стойки - 0.5. куб. м.
            </div>
          </li>
          <li class="media my-4">
            <img class="mr-3" src="assets/section8/d5.png" alt="">
            <div class="media-body align-self-center font-hl fs-1" style="color: #464646">
              Вес полного комплекта 35 кг.
            </div>
          </li>
          <li class="media my-4">
            <img class="mr-3" src="assets/section8/d6.png" alt="">
            <div class="media-body align-self-center font-hl fs-1" style="color: #464646">
              Примерная стоимость доставки разборного кресла до подъезда дома в Москве - 1800 рублей. До терминала - 1200 рублей.
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="py-5 bg-light">
  <div id="feedbacks" class="anchor"></div>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2>
          <p class="text-uppercase font-ksb">отзывы наших клиентов</p>
        </h2>
      </div>
    </div>
    <!--feedback 1 -->
    <div class="row pb-4">
      <div class="col"></div>
      <div class="col-lg-8 col-xs-12 bg-white">
        <div class="row">
          <div class="col">
            <img class="img-fluid py-3" src="assets/section9/feedback1.png" alt="">
          </div>
          <div class="col-3">
            <p class="py-4">
              <span class="text-uppercase font-ksr">любовь сезанова</span>
              <br>
              <small class="text-muted">Архангельск</small>
            </p>
          </div>
          <div class="col-7">
            <p class="pt-4 text-uppercase font-ksr">
              <b>ребята, огромное вам спасибо за ваш труд!</b>
            </p>
            <p>Проверку мужем (115кг) кресло прошло играючи, даже не думало скрипеть или, тем более, гнуться. Подушка большая
              и мягкая, каркас крепкий и удобный, намотка прочная, цена более чем демократичная - а что еще нужно?</p>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>

    <!--feedback 2 -->
    <div class="row pb-4">
      <div class="col"></div>
      <div class="col-lg-8 col-xs-12 bg-white">
        <div class="row">
          <div class="col">
            <img class="img-fluid py-3" src="assets/section9/feedback2.png" alt="">
          </div>
          <div class="col-3">
            <p class="py-4">
              <span class="text-uppercase font-ksr">лёлька нечаева</span>
              <br>
              <small class="text-muted">Северодвинск</small>
            </p>
          </div>
          <div class="col-7">
            <p class="pt-4 text-uppercase font-ksr">
              <b>наше кресло к нам приехало!</b>
            </p>
            <p>Спасибо большо! Очень красивое, функционал в ближайшее время оценим. По доставке порадовали</p>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>

    <!--feedback 3 -->
    <div class="row pb-4">
      <div class="col"></div>
      <div class="col-lg-8 col-xs-12 bg-white">
        <div class="row">
          <div class="col">
            <img class="img-fluid py-3" src="assets/section9/feedback3.png" alt="">
          </div>
          <div class="col-3">
            <p class="py-4">
              <span class="text-uppercase font-ksr">наталья крапивина</span>
              <br>
              <small class="text-muted">Архангельск</small>
            </p>
          </div>
          <div class="col-7">
            <p class="pt-4 text-uppercase font-ksr">
              <b>вчера доставили наши кресла, одно подвесное и одно на каркасе</b>
            </p>
            <p>Приобретением наша семья очень довольна, а самое главное, что эти кресла оценили наши дочки-двойняшки Алёна и
              Олеся, ну и конечно руки мамы нмного освободились. Когда стал вопрос, о том, какое именно кресло выбрать, наши
              мнения с мужем разошлись и пришлось взять два разных...ну и в дальнейшем наши девочки не будут спорить, кто
              именно будет первый качаться. Спасибо Вам за то, что Вы есть.</p>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</section>
<section class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2>
          <p class="text-uppercase font-ksb">оставить свой отзыв или почитать другие
            <br>вы можете в нашей группе вконтакте
          </p>
        </h2>
      </div>
    </div>
    <div col="row py-4">
      <div class="col">
        <div class="d-flex justify-content-center">
          <app-i-text [img]="'assets/section9/vk.png'" [width]=50>
            <a href="https://vk.com/pletenev">
              <span class="font-hl text-secondary" style="font-size:1.2rem">Перейти в группу</span>
            </a>
          </app-i-text>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="d-none d-lg-block">
  <div class="container-fluid">
    <div class="row pt-5">
      <div class="col text-center">
        <h2>
          <p class="text-uppercase font-ksb">
            эти кресла уже обрели своих хозяев
          </p>
        </h2>
      </div>
    </div>
    <div class="row no-paddings">
      <div class="col">
        <ngb-carousel>
          <ng-template ngbSlide>
            <img src="assets/section10/1.png" alt="">
            <div class="carousel-caption">
              <!-- <h3>First slide label</h3>
              <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img src="assets/section10/2.png" alt="">
            <div class="carousel-caption">
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img src="assets/section10/3.png" alt="">
            <div class="carousel-caption">
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>
</section>
<footer class="py-5 bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-4 d-none d-md-block justify-content-end">
        <img class="w-50" src="assets/logo.png" alt="">
      </div>
      <div class="col-md-8 col-xs-12 fs-xs-2 fs-md-0">
        <p class="text-uppercase text-white font-ksb">плетеные и подвесные кресла
          <br> от производителя</p>
        <p>
          <app-i-text [img]="'assets/footer/map.png'">
            <span class="text-uppercase text-white font-ksr">окружное шоссе 13Б
              <br> (напротив тц на окружной)</span>
          </app-i-text>
        </p>
        <p (click)="openCallForm()">
          <app-i-text [img]="'assets/common/phone_36.png'">
            <h5 class="mb-0">
              <span class="text-uppercase text-white font-ksb">
                <b>8 800 700-29-20</b>
              </span>
            </h5>
          </app-i-text>
        </p>
        <p class="d-flex">
          <a href="https://vk.com/pletenev">
            <app-i-text [img]="'assets/footer/ic-vk.png'">
              В контакте
            </app-i-text>
          </a>
          <a href="https://www.instagram.com/pletenev/">
            <app-i-text [img]="'assets/footer/ic-ins.png'">
              Instagram
            </app-i-text>
          </a>
        </p>
      </div>
      <!-- VK Widget -->
      <div id="vk_community_messages"></div>
      <div>
        <img src="https://mc.yandex.ru/watch/46956414" style="position:absolute; left:-9999px;" alt="" />
      </div>
    </div>
  </div>
</footer>