.available-color {
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
}

.br-2 {
    border-radius: 2rem;
}

.color-block {
    padding:  0 2rem;
    color: white;

    >p {
        text-align: center;
        font-family: 'Helvetica-4-Light';
    }
}

.color-block-brown {
    padding: 0 1rem !important;
}

.bg-black {
    background: black;
}

.bg-antiqwhite {
    background: #F0DEBA;
}

.bg-brown {
    background: #96440C;
}

.sub-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
}

.ledge-row {
    margin-top: -60px;
    margin-bottom: -60px;
}

.ledge-container {
    padding-top: 60px;
}