<app-nav></app-nav>
<app-modal 
  [id]="'order'" 
  [formGroup]="orderForm" 
  [title]="'Оформление заказа'" 
  [button]="'Оформить заказ'">
  <app-order-form [orderForm]="orderForm"></app-order-form>
</app-modal>
<header class="py-5 bg-image-full" style="background-image: url('assets/x2fS.jpg');">
  <!-- <img class="img-fluid d-block mx-auto" src="http://placehold.it/200x200&text=Logo" alt=""> -->
  <div class="container">
    <div class="row x2fS">
      <div class="col-sm-6 offset-sm-6 align-self-center">
        <h1>
          <p class="text-white text-uppercase font-ksb">производство
            <br> качественных
            <br>подвесных кресел</p>
        </h1>
        <h3>
          <p class="text-primary text-uppercase font-ksb">сделано в россии!
            <br> качество по ценам
            <br> китая!</p>
        </h3>
        <h6>
          <p class="text-secondary text-uppercase">оставьте заявку и наши специалисты
            <br> проконсультируют вас бесплатно!
          </p>
        </h6>
        <p>
          <button class="btn btn-primary br-2 py-3 px-5" data-toggle="modal" data-target="#order">
            <span class="font-ksr" style="font-size:1.5rem">Подобрать кресло</span>
          </button>
        </p>
      </div>
    </div>
  </div>
</header>

<!-- advantages section -->
<section class="py-5 bg-info">
  <div class="container">
    <div class="row align-items-center">
      <div class="col text-center">
        <img src="assets/own.png" alt="" class="img-fluid py-3">
        <h4>
          <p class="text-white text-uppercase font-ksb">собственное производство</p>
        </h4>
      </div>
      <div class="col text-center">
        <img src="assets/delivery.png" alt="" class="img-fluid py-3">
        <h4>
          <p class="text-white text-uppercase font-ksb">доставки по россии и снг</p>
        </h4>
      </div>
      <div class="d-lg-none w-100"></div>
      <div class="col text-center">
        <img src="assets/garante.png" alt="" class="img-fluid py-3">
        <h4>
          <p class="text-white text-uppercase font-ksb">гарантия лучшей цены</p>
        </h4>
      </div>
      <div class="col text-center">
        <img src="assets/design.png" alt="" class="img-fluid py-3">
        <h4>
          <p class="text-white text-uppercase font-ksb">индивидуальный дизайн</p>
        </h4>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-start">
      <div class="col">
        <img class="img-fluid" src="assets/section2/background.jpg" alt="">
      </div>
      <div class="col py-5">
        <h2>
          <p class="text-center text-uppercase font-ksb">наша продукция</p>
        </h2>
        <ul class="list-unstyled py-4">
          <li class="media">
            <img class="mr-3 pictogram" src="assets/section2/1.png" alt="">
            <div class="media-body align-self-center">
              Наша компания производит подвесные кресла из искусственного ротанга.
            </div>
          </li>
          <li class="media my-4">
            <img class="mr-3 pictogram" src="assets/section2/2.png" alt="">
            <div class="media-body align-self-center">
              Стойка делается из толстостенной трубы 50 мм. В отличие от китайских кресел, никогда не прогнется, даже под весом двух человек.
            </div>
          </li>
          <li class="media my-4">
            <img class="mr-3 pictogram" src="assets/section2/3.png" alt="">
            <div class="media-body align-self-center">
              Мы самостоятельно производим мебель в России, поэтому являемся прямыми поставщиками кресел без диких наценок.
            </div>
          </li>
          <li class="media my-4">
            <img class="mr-3 pictogram" src="assets/section2/4.png" alt="">
            <div class="media-body  align-self-center">
              Каждое кресло делается вручную нашими мастерами и проходит тщательную проверку. На изделие предоставляется гарантия.
            </div>
          </li>
        </ul>
        <h4>
          <p class="text-center text-info text-uppercase font-ksr">в регионах россии наши дилеры предложат вам рассрочку платежа до 3 месяцев</p>
        </h4>
      </div>
    </div>
    <div class="row py-5">
      <div class="col text-center">
        <h2>
          <p class="text-uppercase font-ksb">всегда в наличии следующие варианты кресел</p>
        </h2>
      </div>
    </div>
    <div class="row py-5">
      <div class="col">
        <app-lounge [imgSrc]="'assets/section2/kaplya.jpg'" [title]="'Подвесное кресло со стойкой'" [type]="'КАПЛЯ'" [corpus]="'МЕТАЛЛ'"
          [price]=16990>
        </app-lounge>
      </div>
      <div class="col">
        <app-lounge [imgSrc]="'assets/section2/kaplya.jpg'" [title]="'Подвесное кресло со стойкой'" [type]="'КАПЛЯ'" [corpus]="'МЕТАЛЛ'"
          [price]=16990>
        </app-lounge>
      </div>
      <div class="d-lg-none w-100"></div>
      <div class="col">
        <app-lounge [imgSrc]="'assets/section2/kaplya.jpg'" [title]="'Подвесное кресло со стойкой'" [type]="'КАПЛЯ'" [corpus]="'МЕТАЛЛ'"
          [price]=16990>
        </app-lounge>
      </div>
      <div class="col">
        <app-lounge [imgSrc]="'assets/section2/kaplya.jpg'" [title]="'Подвесное кресло со стойкой'" [type]="'КАПЛЯ'" [corpus]="'МЕТАЛЛ'"
          [price]=16990>
        </app-lounge>
      </div>
    </div>
    <hr>
    <div class="row py-5">
      <div class="col text-center">
        <h2>
          <p class="text-uppercase font-ksb">подвесные кресла с плетением премиум</p>
        </h2>
        <p>Густое плетение, придает кресло еще более шикарный вид.</p>
        <h4>
          <p>
            <span class="font-ksr">Со стойкой</span>
            <strong>19990р.</strong>
            <span class=" font-ksb text-primary" style="font-size: 2rem;">/</span>
            <strong>12990р.</strong>
            <span class="font-ksr">Без стойки</span>
          </p>
        </h4>
      </div>
    </div>
  </div>
</section>

<section class="py-5 bg-image-full" style="background-image: url('assets/k5LxoP.jpg');">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2>
          <p class="text-uppercase font-ksb">
            <span class="text-primary">доступные</span>
            <span class="text-white">цвета кресла:</span>
          </p>
        </h2>
        <p class="text-secondary">Всегда в наличии черные, белые, коричневые и бежевые кресла.
          <br> Любые другие цвета под заказ (Срок изготовления до 10 дней)</p>
      </div>
    </div>
    <div class="row">

    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2>
          <p class="text-uppercase font-ksb">доступные цвета подушки:</p>
        </h2>
        <p>В наличии все цвета. Вы можете выслать фотографию желаемого цвета к нам на
          <a href="mailto:zakaz@pletenev.ru">почту</a>
        </p>
      </div>
    </div>
    <div class="row py-5">
      <div class="col text-center">
        <div>
          <img class="img-fluid" src="assets/section4/pls.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2>
          <p class="text-uppercase font-ksb">общие габариты кресла</p>
        </h2>
      </div>
    </div>
    <div class="row py-5">
      <div class="col text-center">
        <div>
          <img class="img-fluid" src="assets/section5/gabarits.png" alt="">
        </div>
      </div>
    </div>
    <div class="row py-5">
      <div class="col">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mx8BCFnF4P0?rel=0&amp;showinfo=0" frameborder="0"
            allow="encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2>
          <p class="text-uppercase font-ksb">сравнение с китаем</p>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col-9">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/27ejtPTTkIU?rel=0&amp;showinfo=0" frameborder="0"
            allow="encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="row py-5">
          <div class="col-4">
            <div class="pl-5">
              <h4>
                <p class="text-uppercase font-ksb">почему клиенты выбирают наши кресла?</p>
              </h4>
            </div>
          </div>
          <div class="col-8">
            <div class="px-5" style="border-left: 1px dashed rgba(0, 0, 0, 0.1);">
              <h4>
                <p class="text-uppercase font-ksb text-info">все просто</p>
              </h4>
              <p class="text-muted">Доставка подвесного кресла из Китая обходится дорого, в связи с этим конструкцию максимально облегчают. Металл
                тонкий, легкий, подушка полупустая. В результате, уже через несколько месяцев стойка кресла сгибается под
                тяжестью человека.
              </p>
            </div>
          </div>
        </div>
        <div class="row py-5">
          <div class="col"></div>
          <div class="col-5">
            <ul class="list-unstyled py-4">
              <li class="media">
                <img class="mr-3 s-pictogram" src="assets/section6/hq.png" alt="">
                <div class="media-body align-self-center">
                  <h5 class="mt-0 text-uppercase font-ksb" style="font-size: 1rem">высокое качество продукции</h5>
                  Наши кресла выдерживают нагруку до 150 кг. Стойка делается из толстой стальной трубы диаметром 50мм, и толщиной стенки 4
                  мм. Такое кресло прослужит Вам долгое время.
                </div>
              </li>
              <li class="media my-4">
                <img class="mr-3 s-pictogram" src="assets/section6/best_price.png" alt="">
                <div class="media-body align-self-center">
                  <h5 class="mt-0 text-uppercase font-ksb" style="font-size: 1rem">лучшие цены от производителя</h5>
                  Мы гарантируем лучшую цену на рынке, т.к. являемся производителями, что дает вам возможность закупать наши кресла напрямую
                  без посредников
                </div>
              </li>
            </ul>
          </div>
          <div class="col-5">
            <ul class="list-unstyled py-4">
              <li class="media">
                <img class="mr-3 s-pictogram" src="assets/section6/care.png" alt="">
                <div class="media-body align-self-center">
                  <h5 class="mt-0 text-uppercase font-ksb" style="font-size: 1rem">высокое качество продукции</h5>
                  Материалы используемые при создании кресла долговечные и не проддаются пагубному воздействию внешней среды, в результате
                  чего кресло можно использовать как в помещении, так и на улице. Позаботиться необходимо только о подушке.
                  делается Вашего кофморта она сделана из прятной на ощупь ткани "Габардин", которая может промокнуть в дождливую
                  погоду. В этом случае полушку, необходимо занести в дом.
                </div>
              </li>
            </ul>
          </div>
          <div class="col"></div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</section>

<section class="py-5 bg-image-full" style="background-image: url('assets/iaUpd.jpg');">
  <div class="container">
    <div class="row align-items-center">
      <div class="col text-center">
        <img src="assets/section7/1.png" alt="" class="img-fluid py-3">
      </div>
      <div class="col text-center">
        <img src="assets/section7/2.png" alt="" class="img-fluid py-3">

      </div>
      <div class="col text-center">
        <img src="assets/section7/3.png" alt="" class="img-fluid py-3">

      </div>
      <div class="col text-center">
        <img src="assets/section7/4.png" alt="" class="img-fluid py-3">
      </div>
      <div class="col text-center">
        <img src="assets/section7/5.png" alt="" class="img-fluid py-3">
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col text-center">
        <h4>
          <p class="text-white text-uppercase font-ksb">толщина стенки трубки 4 мм</p>
        </h4>
      </div>
      <div class="col text-center">
        <h4>
          <p class="text-white text-uppercase font-ksb">антикоррозийная обработка</p>
        </h4>
      </div>
      <div class="col text-center">
        <h4>
          <p class="text-white text-uppercase font-ksb">индивидуальная цветовая гамма</p>
        </h4>
      </div>
      <div class="col text-center">
        <h4>
          <p class="text-white text-uppercase font-ksb">гарантия и рассрочка платежа</p>
        </h4>
      </div>
      <div class="col text-center">
        <h4>
          <p class="text-white text-uppercase font-ksb">порошковая окраска</p>
        </h4>
      </div>
    </div>
  </div>
</section>

<section class="py-5 bg-image-full">
  <div class="container "></div>
</section>

<section class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2>
          <p class="text-uppercase font-ksb">отзывы наших клиентов</p>
        </h2>
      </div>
    </div>
    <!--feedback 1 -->
    <div class="row pb-4">
      <div class="col"></div>
      <div class="col-8 bg-white">
        <div class="row">
          <div class="col">
            <img class="img-fluid py-3" src="assets/section9/feedback1.png" alt="">
          </div>
          <div class="col-3">
            <p class="py-4">
              <span class="text-uppercase font-ksr">любовь сезанова</span>
              <br>
              <small class="text-muted">Архангельск</small>
            </p>
          </div>
          <div class="col-7">
            <p class="pt-4 text-uppercase font-ksr">
              <b>ребята, огромное вам спасибо за ваш труд!</b>
            </p>
            <p>Проверку мужем (115кг) кресло прошло играючи, даже не думало скрипеть или, тем более, гнуться. Подушка большая
              и мягкая, каркас крепкий и удобный, намотка прочная, цена более чем демократичная - а что еще нужно?</p>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>

    <!--feedback 2 -->
    <div class="row pb-4">
      <div class="col"></div>
      <div class="col-8 bg-white">
        <div class="row">
          <div class="col">
            <img class="img-fluid py-3" src="assets/section9/feedback2.png" alt="">
          </div>
          <div class="col-3">
            <p class="py-4">
              <span class="text-uppercase font-ksr">лёлька нечаева</span>
              <br>
              <small class="text-muted">Северодвинск</small>
            </p>
          </div>
          <div class="col-7">
            <p class="pt-4 text-uppercase font-ksr">
              <b>наше кресло к нам приехало!</b>
            </p>
            <p>Спасибо большо! Очень красивое, функционал в ближайшее время оценим. По доставке порадовали</p>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>

    <!--feedback 3 -->
    <div class="row pb-4">
      <div class="col"></div>
      <div class="col-8 bg-white">
        <div class="row">
          <div class="col">
            <img class="img-fluid py-3" src="assets/section9/feedback3.png" alt="">
          </div>
          <div class="col-3">
            <p class="py-4">
              <span class="text-uppercase font-ksr">наталья крапивина</span>
              <br>
              <small class="text-muted">Архангельск</small>
            </p>
          </div>
          <div class="col-7">
            <p class="pt-4 text-uppercase font-ksr">
              <b>вчера доставили наши кресла, одно подвесное и одно на каркасе</b>
            </p>
            <p>Приобретением наша семья очень довольна, а самое главное, что эти кресла оценили наши дочки-двойняшки Алёна и
              Олеся, ну и конечно руки мамы нмного освободились. Когда стал вопрос, о том, какое именно кресло выбрать, наши
              мнения с мужем разошлись и пришлось взять два разных...ну и в дальнейшем наши девочки не будут спорить, кто
              именно будет первый качаться. Спасибо Вам за то, что Вы есть.</p>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</section>
<section class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2>
          <p class="text-uppercase font-ksb">оставить свой отзыв или почитать другие
            <br>вы можете в нашей группе вконтакте
          </p>
        </h2>
      </div>
    </div>
    <div col="row py-4">
      <div class="col">
        <div class="d-flex justify-content-center">
          <app-i-text [img]="'assets/section9/vk.png'">
            <a href="http://vk.com">
              <span class="font-hl text-secondary" style="font-size:1.2rem">Перейти в группу</span>
            </a>

          </app-i-text>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="py-5 bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-4 justify-content-end">
        <img src="assets/logo.png" alt="">
      </div>
      <div class="col-4">
        <p class="text-uppercase text-white font-ksb">плетеные и подвесные кресла
          <br> от производителя</p>
        <p>
          <app-i-text [img]="'assets/footer/map.png'">
            <span class="text-uppercase text-white font-ksr">окружное шоссе 13Б
              <br> (напротив тц на окружной)</span>
          </app-i-text>
        </p>
        <p>
          <app-i-text [img]="'assets/common/phone_36.png'">
            <h5 class="mb-0">
              <span class="text-uppercase text-white font-ksb">
                <b>8 800 700-29-20</b>
              </span>
            </h5>
          </app-i-text>
        </p>
        <p class="d-flex">
          <app-i-text [img]="'assets/footer/ic-vk.png'">
            <span class="text-secondary">В контакте</span>
          </app-i-text>
          <app-i-text [img]="'assets/footer/ic-ins.png'">
            <span class="text-secondary">Instagram</span>
          </app-i-text>
        </p>
      </div>
      <div class="col-4"></div>
    </div>
  </div>
</footer>