<img class="img-fluid" src="{{imgSrc}}" alt="">
<h5><p class="ta-xs-center font-weight-bold fs-xs-4 fs-sm-3 fs-md-3 font-ksr">{{title}}</p></h5>
<small class="text-muted fs-sm-2 fs-md-1 d-none d-sm-block"><p class="ta-xs-center"><br><small>КОРПУС : {{corpus}}</small></p></small>
<div class="text-muted text-uppercase ta-xs-center fs-xs-4 fs-sm-3 fs-md-2 d-sm-none"><p>{{type}}</p></div>
<h4><p class="font-ks fs-xs-3 fs-sm-3 fs-md-3 ta-xs-center"><strong>{{price}}p.</strong></p></h4>
<button class="btn btn-primary btn-md btn-block fs-xs-4 fs-sm-3 fs-md-3 font-weight-bold" (click)="order($event)">Заказать</button>