/* You can add global styles to this file, and also import other style files */
@import 'theme/custom.scss';
@import 'variables.scss';

.navbar-nav {
    .nav-item:hover {
       border-bottom: 5px solid $primary;
    }
}

// for image responsive

html {
    font-size: 1rem;
}

.color-white {
    color: $white;
}

.x2fS {
    height: $container-height-base;
}

.pictogram {
    width: 50px;
}

.s-pictogram {
    width: 40px;
}

.fs-0 {
    font-size: 0.5rem;
}

.fs-1 {
    font-size: 1.2rem;
}

.fs-2 {
    font-size: 1.5rem;
}

.fs-3 {
    font-size: 1.8rem;
}

.fs-4 {
    font-size: 2.1rem;
}

.fs-5 {
    font-size: 2.7rem;
}

@include media-breakpoint-up(xs) {
    html {
      font-size: 0.5rem;
    }

    .fs-xs-0 {
        font-size: 0.5rem;
    }

    .fs-xs-1 {
        font-size: 1.2rem;
    }

    .fs-xs-2 {
        font-size: 1.5rem;
    }

    .fs-xs-3 {
        font-size: 1.7rem;
    }

    .fs-xs-4 {
        font-size: 2rem;
    }

    .fs-xs-5 {
        font-size: 2.5rem;
    }

    .x2fS {
        height: $container-height-base - 3*$height-step;
    }

    .pictogram {
        width: 50px;
    }

    .s-pictogram {
        width: 50px;
    } 
}

@include media-breakpoint-up(sm) {
    html {
      font-size: 0.6rem;
    }

    .fs-sm-0 {
        font-size: 0.6rem;
    }

    .fs-sm-1 {
        font-size: 1.2rem;
    }

    .fs-sm-2 {
        font-size: 1.5rem;
    }

    .fs-sm-3 {
        font-size: 1.7rem;
    }

    .fs-sm-4 {
        font-size: 2rem;
    }

    .fs-sm-5 {
        font-size: 2.5rem;
    }

    .x2fS {
        height: $container-height-base - 2*$height-step;
    }

    .pictogram {
        width: 70px;
    }

    .s-pictogram {
        width: 60px;
    } 
}
  
@include media-breakpoint-up(md) {
    html {
      font-size: 0.9rem;
    }

    .fs-md-0 {
        font-size: 0.9rem;
    }

    .fs-md-1 {
        font-size: 1.2rem;
    }

    .fs-md-2 {
        font-size: 1.5rem;
    }

    .fs-md-3 {
        font-size: 1.7rem;
    }

    .fs-md-4 {
        font-size: 2rem;
    }

    .fs-md-5 {
        font-size: 2.5rem;
    }
    
    .x2fS {
        height: $container-height-base - 1*$height-step;
    }

    .pictogram {
        width: 80px;
    }

    .s-pictogram {
        width: 70px;
    } 
}
  
@include media-breakpoint-up(lg) {
    html {
      font-size: 0.9rem;
    }

    .fs-lg-0 {
        font-size: 0.9rem;
    }

    .fs-lg-1 {
        font-size: 1.2rem;
    }

    .fs-lg-2 {
        font-size: 1.5rem;
    }

    .fs-lg-3 {
        font-size: 1.7rem;
    }

    .fs-lg-4 {
        font-size: 2rem;
    }

    .fs-lg-5 {
        font-size: 2.5rem;
    }

    .x2fS {
        height: $container-height-base;
    }

    .pictogram {
        width: 100px;
    }

    .s-pictogram {
        width: 80px;
    }   
}

@include media-breakpoint-down(xs) {
    .ta-xs-center {
        text-align: center
    }

    .w-xs-25 {
        width: 25%;
    }

    .h-xs-25 {
        height: 25%;
    }

    .w-xs-50 {
        width: 75%;
    }

    .h-xs-75 {
        height: 75%;
    }

    .w-xs-75 {
        width: 75%;
    }

    .h-xs-75 {
        height: 75%;
    }
}

@include media-breakpoint-down(sm) {
    .ta-sm-center {
        text-align: center
    }

    .w-sm-25 {
        width: 25%;
    }

    .h-sm-25 {
        height: 25%;
    }

    .w-sm-50 {
        width: 75%;
    }

    .h-sm-75 {
        height: 75%;
    }

    .w-sm-75 {
        width: 75%;
    }

    .h-sm-75 {
        height: 75%;
    }
}

@include media-breakpoint-down(md) {
    .ta-md-center {
        text-align: center
    }

    .w-md-25 {
        width: 25%;
    }

    .h-md-25 {
        height: 25%;
    }

    .w-md-50 {
        width: 75%;
    }

    .h-md-75 {
        height: 75%;
    }

    .w-md-75 {
        width: 75%;
    }

    .h-md-75 {
        height: 75%;
    }

    //form mobile

    .order-label {
        font-size: 1.5rem;
        padding-left: 15px !important;
    }
}

@include media-breakpoint-down(lg) {
    .w-lg-25 {
        width: 25%;
    }

    .h-lg-25 {
        height: 25%;
    }

    .w-lg-50 {
        width: 75%;
    }

    .h-lg-75 {
        height: 75%;
    }

    .w-lg-75 {
        width: 75%;
    }

    .h-lg-75 {
        height: 75%;
    }
}

.bg-image-full {
    background: no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.no-paddings {
    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }

.font-ht {
    font-family: 'Helvetica-3-Thin';
}

.font-hi {
    font-family: 'Helvetica-3-Italic';
}

.font-hl {
    font-family: 'Helvetica-4-Light';
}

.font-ksl {
    font-family: 'KelsonSansLight';
}

.font-ksr {
    font-family: 'KelsonSansRegular';
}

.font-ksb {
    font-family: 'KelsonSansBold';
}

// Checkboxes

.custom1 label {

    &::after {
        width: 17px;
        height: 17px;
        padding-top: 0;
        font-size: 12px;
    }

    &::before {
        width: 20px;
        height: 20px;
        border-radius: 0;
        margin-left: -1.3rem;
        top:1px;
    }
}

.custom2 {
    margin-bottom: 20px;
}

.custom2 label {
    padding-left: 20px;

    &::before {
        width: 33px;
        height: 33px;
        border-radius: 0;
        top:-5px;
    }

    &::after {
        width: 30px;
        height: 30px;
        top: -8px;
        font-size: 25px;
    }
}

@mixin checkbox-variant-custom($parent, $color, $color2: #fff) {
    @include checkbox-variant-indeterminate($parent, $color, $color2);

    #{$parent} label {
        &::before {
          background-color: $color;
          border-color: $color;
        }
      }
  }
  
@include checkbox-variant('.abc-checkbox-blue', $bblue);
@include checkbox-variant('.abc-checkbox-brown', $bbrown);
@include checkbox-variant('.abc-checkbox-red', $bred);
@include checkbox-variant('.abc-checkbox-antique', $bantique, $black);

@include checkbox-variant-custom('.abc-checkbox-blue', $bblue, $bblue);
@include checkbox-variant-custom('.abc-checkbox-brown', $bbrown);
@include checkbox-variant-custom('.abc-checkbox-red', $bred);
@include checkbox-variant-custom('.abc-checkbox-antique', $bantique);