/* You can add global styles to this file, and also import other style files */

$primary: #fada00;
$info: #970200;
$dark: #000;

@import '../node_modules/bootstrap/scss/bootstrap.scss';

html {
    font-size: 1rem;
}

@include media-breakpoint-up(xs) {
    html {
      font-size: 0.5rem;
    }
}

@include media-breakpoint-up(sm) {
    html {
      font-size: 0.6rem;
    }
}
  
@include media-breakpoint-up(md) {
    html {
      font-size: 0.9rem;
    }
}
  
@include media-breakpoint-up(lg) {
    html {
      font-size: 0.9rem;
    }
}

// for image responsive

$container-height-base: 600px;
$height-step: 100px;

.x2fS {
    height: $container-height-base;
}

@include media-breakpoint-up(xs) {
    .x2fS {
        height: $container-height-base - 3*$height-step;
    }
}

@include media-breakpoint-up(sm) {
    .x2fS {
        height: $container-height-base - 2*$height-step;
    }
}
  
@include media-breakpoint-up(md) {
    .x2fS {
        height: $container-height-base - 1*$height-step;
    }
}
  
@include media-breakpoint-up(lg) {
    .x2fS {
        height: $container-height-base;
    }
}

.bg-image-full {
    background: no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.font-ht {
    font-family: 'HelveticaThin';
}

.font-hi {
    font-family: 'HelveticaItalic';
}

.font-hl {
    font-family: 'HelveticaLight';
}

.font-ksl {
    font-family: 'KelsonSansLight';
}

.font-ksr {
    font-family: 'KelsonSansRegular';
}

.font-ksb {
    font-family: 'KelsonSansBold';
}