/* You can add global styles to this file, and also import other style files */

$primary: #fada00;
//$info: #cf0421;
$info: #970200;
$dark: #000;

@import '../node_modules/bootstrap/scss/bootstrap.scss';

body {
    padding-top: 54px;
}

.bg-image-full {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}